/* Copyright Line Multimediaagency - www.linee.it - All Rights Reserved.*/

a{
    color: #FFFFFF;
    text-decoration: none;
}

a:link{
    color: #FFFFFF;
    text-decoration: none;
}

a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    color: gray;
    text-decoration: none;
}

a:active{
    color: gray;
    text-decoration: none;
}

a.image-link{
    color: gray;
    text-decoration: none;
    border: none;
}

a img{
    color: gray;
    text-decoration: none;
    border: none;
}