/* Copyright Line Multimediaagency - www.linee.it - All Rights Reserved.*/

body{
    font-family: "DejaVu Sans", "Lucida Grande", "Lucida Sans", "Verdana", sans, sans-serif;
    background-color: #030303;
    color: #FFFFFF;
    font-size: 10pt;
}
