/* Copyright Line Multimediaagency - www.linee.it - All Rights Reserved.*/

div{
    text-align: justify;
}

div#main_content{}

div#header_box{
    /*
    border: 1px solid gray;
    border-bottom: 1px solid gray;
    */
}

div#header_box{
    /*border: 1px solid gray;*/
}

div#header_media_box{
	border: 1px solid #666666;
}

div#footer_box{
    border-left: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
}

div#footer_content{
    font-size: 8pt;
    text-align: right;
}

div.developer{
    border-bottom: 1px solid #666666;
    font-size: 8pt;
    text-align: center;
}

div#content_box{
    font-size: 9pt;
}

div#content,
div#content-image-preview{
    border: 1px solid #666666;
}

div.left_box{}

div.right_box{}

div.basic-info{

}

div#media-box{
    /*border: 1px solid gray;*/
}

.bordered {
    border: 1px solid gray;
}

div.right_box-4{
    text-align: left;
}

div.close-button{
    border: 2px solid gray;
    font-size: 16pt;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    background-color: black;
    color: gray;
    cursor: pointer;
}