/* Copyright Line Multimediaagency - www.linee.it - All Rights Reserved.*/

.icon-big{}

.icon-little{}

img.icon-toleft{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

img.img-thumb{
    border: 1px solid gray;
}