/* Copyright Line Multimediaagency - www.linee.it - All Rights Reserved.*/

ul#language{
    text-align: right;
    /*border-bottom: 1px solid gray;*/
    font-variant: small-caps;
    /*font-weight: bold;*/
}

ul#language li{
    font-size: 8pt;
    font-weight: bold;
    padding-left: 10px;
}

ul#language li a{
    color: #999999;
    text-decoration: none;
}

/*----------------*/
ul#main_menu{
    text-align: right;
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
    font-variant: small-caps;
    font-weight: bold;
}

ul#main_menu li{
    display: inline;
    font-size: 10pt;
    /*font-weight: bold;*/
}

/**************/

ul.performance{
    font-size: 9pt;
}

ul.link-list{
    font-size: 10pt;
}

ul.link-list li {
    font-variant: small-caps;
    font-weight: bold;
}

ul.gallery li{
    font-variant: small-caps;
}