/* Copyright Line Multimediaagency - www.linee.it - All Rights Reserved.*/

div{}

div#main_content{
    margin: auto;
    width: 740px;
}

div#main_content-splash{
    width:740px;
    height:420px;
    position:absolute;
    top:50%;
    left:50%;
    margin:-200px 0 0 -370px;
    text-align: left;
}

div#header_box{}

div#header_media_box{
    margin :0px;
    padding :0px;
    /*width: 740px;*/
    height: 240px;
}

div#header_media_box-small{
    margin :0px;
    padding :0px;
    width: 740px;
    height: 110px;
}

div#footer_box{}

div#footer_content{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 60px;
}

div.developer{
    padding-top: 6px;
    padding-bottom: 6px;
}

div#content_box{}

div#content,
div#content-image-preview{
    min-height: 158px;
}

div.left_box{
    float: left;
    width: 270px;
    min-height: 150px;
    /*overflow: hidden;*/
    padding: 2px;
}
div.left_box_2{
    float: left;
    width: 130px;
    min-height: 150px;
    /*overflow: hidden;*/
    padding: 2px;
}

div.left_box_3{
    float: left;
    width: 310px;
    min-height: 150px;
    margin-left: 10px;
}

div.center_box{
    float: left;
    width: 130px;
    min-height: 150px;
    /*overflow: hidden;*/
    padding: 2px;
}

div.center_box-2{
    float: left;
    width: 230px;
    min-height: 150px;
    /*overflow: hidden;*/
    /*padding: 2px;*/
   /* padding-top: 30px;*/
}

div.center_box-3{
    float: left;
    width: 100px;
    min-height: 246px;
    /*overflow: hidden;*/
    padding: 2px;
    margin-left: 26px;
    margin-top: 10px;
}

div.right_box{
    float: left;
    width: 450px;
    min-height: 150px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    /*overflow: hidden;*/
}

div.right_box-2{
    float: left;
    width: 310px;
    min-height: 150px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.right_box-3{
    float: left;
    width: 210px;
    min-height: 150px;
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.right_box-4{
    float: left;
    width: 264px;
    min-height: 250px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.right_box-4{
    float: left;
    width: 264px;
    min-height: 250px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.right_box-5{
    float: left;
    width: 400px;
    min-height: 288px;
    padding: 20px 0px 0px 50px;


}

div.clear{
    clear: both;
}

div.basic-info{
    min-height: 4em;
    margin-top: 14px;
}

div.performance-image-list{
}

div#media-box{
    position: relative;

    width: 320px;
    min-height: 240px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px;

}


div.img-thumb{
    float: left;
    /*
    width: 82px;
    min-height: 82px;
    max-height: 82px;
    */
    width: 62px;
    min-height: 62px;
    max-height: 62px;
    overflow: hidden;
}


div.close-button{
    position: absolute;
    width: 32px;
    max-height: 32px;
    overflow: hidden;
    padding: 2px;
    margin: 4px;
}

div.image-preview{
    text-align: center;
    margin: 20px;
}

div.info-version{
    display: inline;
}
