/* Copyright Line Multimediaagency - www.linee.it - All Rights Reserved.*/

img.icon-big{
    margin-left: 100px;
    margin-top: 36px;
}

img.icon-little{
    margin-left: 4px;
    margin-top: 100px;
}

img.icon-toleft{
    margin-left: -2px;
    margin-top: 42px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
}

img.img-thumb{
    padding: 2px;
    margin:0px;
}

img.image-name-1{
    position:absolute;
    top: 100px;
    right: 50px;
}