/* Copyright Line Multimediaagency - www.linee.it - All Rights Reserved.*/

ul{
    list-style-type: none;
}

ul#language{
    margin: 2px 0px 0px 0px;
    padding: 4px 4px 4px 4px;
}

ul#language li{
    display: inline;
    padding-left: 5px;
}

ul#language li a{}

/*----------------*/
ul#main_menu{
    margin: 0px;
    padding: 2px 46px;
}

ul#main_menu li{
    display: inline;
}

ul#main_menu li a:link{
    height: 0px;
    padding: 5px 15px 5px 15px;
}

ul#main_menu li a:visited{
    height: 0px;
    padding: 5px 15px 5px 15px;
}

ul#main_menu li a:hover{}

ul#main_menu li a:active{}

/*******/

ul.performance{
	margin: 40px 0px 0px 50px;
	padding: 0px 0px 0px 0px;
}

ul.performance li{
    clear: both;
}

ul.gallery{
    margin: 25px 0px 0px 15px;
    padding: 0px 0px 0px 0px;
    padding-top: 4px;
}

ul.gallery li{
    clear: both;
    padding-left: 0px;
    margin-bottom: 4px;
}

ul.gallery li a{
    clear: both;
    padding-left: 0px;
    padding-bottom: 4px;
}

ul.link-list{
    list-style-type: none;
    margin: 40px 0px 0px 50px;
	padding: 0px 0px 0px 0px;
}

ul.link-list li {
    padding-top: 4px;
}

ul.external-link-list{
    list-style-type: none;
    margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 0px;
}

ul.external-link-list li {
    padding-top: 4px;
}